{% extends "base.html" %}

{% block content %}

{% for ranking in rankings %}
<div style="display: flex;width:100px;text-align:center;border-collapse: collapse;margin-left: auto;margin-right: auto; margin-top: auto ">
  <p style="border: 1px solid black; padding: 10px;"">
    {{ranking['rank']}}
  </p>
  <p style="margin-left: 0px;border:1px solid black; padding: 10px;border-left:0;">
    {{ranking['name']}}
  </p>
</div>
{% endfor %}

<!-- Adding a form to collect user input for the ranking.py "team a or b" and "margin of victory" input args -->
<form name="message" method="post">
  <section>

<div style="float:center;margin-right:20px;">
  <label for="winTeam">Winning Team</label>
  <input id="winTeam" type="text" value="" name="winTeam">
</div>

<div style="float:center;">
  <label for="ptMargin">Margin of Victory</label>
  <input id="ptMargin" type="text" value="" name="ptMargin">
</div>

<br style="clear:both;" />
<button type="submit" name="submit">Submit</button>

  </section>
</form>


{% endblock %}